:root {
    --primaryColor: #e91e63;
    --accentColor: #3F3D56;

    --shadowBoxPrimaryColor: 5px 5px 10px -2px rgba(233,31,98,0.15);
    --shadowBoxHoveredPrimaryColor: 5px 5px 10px -2px rgba(233,31,98,0.3);

    --shadowBoxAccentColor: 5px 5px 10px -2px rgba(55, 71, 79, 0.1);
    --shadowBoxHoveredAccentColor: 5px 5px 10px -2px rgba(55, 71, 79, 0.3);

    --transitionTime: 0.25s;

    --headlineFontSize: 64px;
    --subHeadlineFontSize: 24px;
    --titleFontSize: 25px;
    --buttonFontSize: 19px;
    --textFontSize: 16px;
}